h1, h2, h3, p {
  margin: 0;
}

html {
  background-color: #005ece;
  color: #039be5;
  font-size: 18px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* we are using material-icons */
.material-icons.-x2 { font-size: 48px; }
.material-icons.-muted { color: #ff6673; }
