:root {
  --color1: #005ece; /* deep blue */
  --color2: #039be5; /* light blue */
  --color3: #ff6673; /* light red */
}

h1, h2, h3, p {
  margin: 0;
}

html {
  background-color: var(--color1);
  color: var(--color2);
  font-size: 18px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100vh;
  overflow: hidden;
}

select, button, a {
  cursor: pointer;
}

/* we are using material-icons */
.material-icons.-x2 { font-size: 48px; }
.material-icons.-not_speaking { color: #eee; }
.material-icons.-speaking { color: var(--color2); }
