.FormMain {
  display: grid;
  grid-template-columns: 1fr 100px;
  width: 90%;
  max-width: 600px;
  height: 50px;
  margin: 0 auto 20px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;

  &_NameInput {
    position: relative;
    display: flex;
    align-items: center;
    cursor: text;
    font-size: .9rem;

    &_Placeholder {
      color: #aaa;

      @media (max-width: 600px) {
        display: none;
      }
    }
    &_Input {
      flex: 1 1 auto;
      border: none;
    }

    &_Tip {
      position: absolute;
      top: -75px;
      left: 50%;
      background-color: #eee;
      color: #000;
      width: 250px;
      padding: 10px;
      border-radius: 5px;
      font-size: .8rem;

      @media (max-width: 600px) {
        left: 0;
      }

      &::before {
        content: '';
        position: absolute;
        left: 10%;
        bottom: -10px;
        border-top: 15px solid #eee;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
      }

      &[data-visible=false] {
        display: none;
      }
    }
  }

  &_Button {
    padding: 10px;
    border: none;
    background-color: var(--color3);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

    &[disabled] {
      cursor: not-allowed;
      opacity: .5;
    }
  }
}
