:root {
  --bottomLayoutHeight: 80px;
}

html,
body,
#app-root {
  height: 100%;
}

button {
  appearance: none;
  -webkit-appearance: none;
  background-color: #f5f5f5;
  border: 1px solid #afafaf;
}
