.L-Main {
  display: grid;
  grid-template-rows: calc(100% - var(--bottomLayoutHeight)) var(--bottomLayoutHeight);
  height: 100%;
}

.L-Setting {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #000;
}
.L-Setting_Video {
  padding: 10px;
  height: 50%;
}
.L-Setting_Finish {
  text-align: center;
}

.L-Notification {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
