.L-Main {
  display: grid;
  grid-template-rows: 1fr 150px;
  height: 100vh;
}

.L-Setting {
  width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;

  &_Video {
    text-align: center;
  }

  &_Finish {
    text-align: right;
  }
}

.L-Screen {
  background-color: #000;
}

.L-MemberList {
  display: flex;

  &_Video {
    height: 150px;
    width: calc(150px / 9 * 16);
  }
}

.L-RightSide {
  position: absolute;
  right: 20px;
  top: 20px;
}
