.L-Main {
  display: grid;
  grid-template-rows: 1fr 180px;
  height: 100vh;
}

.L-Setting {
  width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  color: #000;

  &_Video {
    text-align: center;
  }
}

.L-RightSide {
  position: absolute;
  right: 20px;
  top: 20px;
}
