/* sizes should be synced with name-edit.css */
.DeviceSelector {
  width: 90%;
  margin: 0 auto;

  &_Row {
  }

  &_Label {
  }

  &_Select {
    height: 30px;
    width: 50%;
  }

  &_Va {
    padding: 0 10px;
  }
}
