/* sizes should be synced with name-edit.css */
.DeviceSelector {
  margin: 0 10px;

  &_Row {
    display: flex;
    align-items: center;
  }

  &_Label {
  }

  &_Select {
    height: 30px;
  }

  &_Va {
    padding: 0 10px;
  }
}
