.Error {
  width: 600px;
  margin: 100px auto;
  color: #fff;

  &_Title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-indent: 5px;
    font-size: 1.2rem;
  }

  &_Desc {
    padding: 10px;
  }
}
