.MemberVideo {
  position: relative;
  height: var(--bottomLayoutHeight);
  width: 150px;
  min-width: 150px;
  background-color: #000;
  overflow: hidden;

  &_Pinned {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border: 3px double #fff;
  }

  &_Name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: .8rem;
    line-height: 30px;
    text-indent: 10px;
  }

  &_Media {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &_Settings {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &_Local {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: calc(var(--bottomLayoutHeight) / 2);
    > button {
      height: 100%;
    }
  }
}
