.L-Main {
  width: 90%;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20%;
}

.L-Form {
  margin: 30px auto 40px;
}

.L-Copyright {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}
