/* sizes should be synced with name-edit.css */
.DeviceSelector {
  width: 80%;
  margin: 0 auto;

  &_Row {
    display: flex;
    align-items: center;
    margin: 10px auto;
  }

  &_Label {
    width: 60px;
    text-align: right;
  }

  &_Select {
    height: 30px;
    width: 300px;
    margin: 0 20px;
  }
}
