.MemberVideo {
  position: relative;
  height: 150px;
  /* fix this to scroll container */
  min-width: calc(150px / 9 * 16);

  &_Pinned {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border: 3px double #fff;
  }

  &_Name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: .8rem;
    line-height: 30px;
    text-indent: 10px;
  }

  &_Media {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &_Settings {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &_Invite {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
  }
}
