.ScreenShareTrigger {
  &_Items {
    position: absolute;
    top: 40px;
    left: -80px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;

    &_Desc {
      margin-bottom: 10px;
    }
  }
}
