.Toast {
  padding: 5px 10px;
  color: #fff;

  &.-stat {
    background-color: rgba(255, 102, 115, .6);
  }
  &.-chat {
    background-color: rgba(3, 155, 229, .6);
  }
  &.-user {
    background-color: rgba(0, 0, 0, .6);
  }
}
