.Toast {
  margin-bottom: 15px;

  &_Text {
    padding: 5px 10px;
    color: #fff;
    border-radius: 2.5px;
  }

  &.-stat &_Text {
    background-color: rgba(255, 102, 115, .6);
  }
  &.-chat &_Text {
    background-color: rgba(3, 155, 229, .6);
  }
  &.-user &_Text {
    background-color: rgba(0, 0, 0, .6);
  }
}
